CMakeCache.txt
cmake_install.cmake
Makefile
**/cmake_install.cmake
**/CMakeFiles/
**/CMakeCache.txt
**/Makefile
*.cmake
*.a
*.so
*.cmake
*.csv
*.db
.vscode/
build/**
**/build/
_deps/
Testing/
CMakeCache.txt.prev
CMakeLists.txt.user
build-src-Desktop-Debug/
**/CMakeLists.txt.user
**/*.ini

